/* Global Styles */
* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  transition: 0.34s;
  outline: none;
}

html {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
  font-size: 63%;
  overflow-x: hidden;
}

section {
  padding: 16px 9%;
  padding-top: 100px;
  min-height: 100vh;
}

.heading {
  text-align: center;
  color: #3c6382; 
  font-size: 42px;
  font-weight: normal;
  padding: 16px;
}

#hamburger-menu {
  font-size: 25px;
  display: none;
  color: #3c6382;
  cursor: pointer;
}
  
/* Loading Section */
.loading {
  background: #fff;
  position: fixed;
  top: 80px; 
  height: calc(100% - 80px); 
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none; 
}

.loading.active {
  display: flex; 
}

.loading .icon-loading .loading-dot {
  background-color: #0a3d62;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.loading .icon-loading .loading-dot.loading-dot-1st {
  animation: 1.2s grow ease-in-out infinite 0.1s;
}

.loading .icon-loading .loading-dot.loading-dot-2nd {
  animation: 1.2s grow ease-in-out infinite 0.16s;
  margin: 0 14px;
}

.loading .icon-loading .loading-dot.loading-dot-3rd {
  animation: 1.2s grow ease-in-out infinite 0.22s;
}

.loading .icon-loading .loading-dot.loading-dot-4th {
  animation: 1.2s grow ease-in-out infinite 0.28s;
  margin: 0 14px;
}

@keyframes grow {
  0%, 50%, 100% {
      transform: scale(0);
  }

  50% {
      transform: scale(1);
  }
}
    
/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  padding: 21px; 
  z-index: 1000;
}

header .logo {
  font-size: 34px;
  color: #3c6382;
  text-decoration: none;
}

header .navbar a {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  margin-left: 12px;
  color: #0a3d62; 
  text-decoration: none;
}

header .navbar a:hover {
  background: #3c6382; 
  color: #fff;
}

header .navbar a:hover {
  background: #3c6382;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* FAQ Section */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; 
  padding-bottom: 30px;
}

.faq h1{
  font-size: 40px;
  color: #3c6382;
  padding-top: 38px;
  padding-bottom: 50px;
}

#accordionExample {
  width: 80%; 
}

.accordion-item {
  width: 100%;
}

.accordion-button {
  font-size: 22px; 
  padding: 25px;
  font-weight: 575;
}

.accordion-body {
  font-size: 17px; 
  padding: 30px;
}

/* Footer */
footer {
  background: url(../images/background.jpg);
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 80px;
  margin-top: 100px;
}

footer .container {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 70px;
  display: grid;
}

footer .container .ft h2 {
  position: relative;
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 13px;
  font-size: 24px;
}

footer .container .ft p {
  color: #0a3d62;
  font-size: 16px; 
}

footer .container .media-logo {
  margin-top: 30px;
  grid-template-columns: repeat(4, 70px);
  display: grid;
}

footer .container .media-logo li {
  list-style: none;
  display: inline-block;
  width: 36px;
  height: 36px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
}

footer .container .links {
  position: relative;
}

footer .container .links ul,
footer .container .contact ul {
  padding: 0;
  margin: 0;
}

footer .container .links ul li,
footer .container .contact ul li {
  list-style: none;
}

footer .container .links ul li a,
footer .container .contact ul li a {
  color: #0a3d62;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px; 
}

footer .container .contact ul li a {
  margin-bottom: 5px; 
}

footer .container .contact .contact-info {
  position: relative;
}

footer .container .contact .contact-info li {
  display: grid;
  grid-template-columns: 27px 1fr;
  margin-bottom: 16px;
}

footer .container .contact .contact-info li span {
  font-size: 19px;
}

/* Button Styles (auto scroll back to the top button) */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  color: #0a3d62;
  border: 2px solid #0a3d62;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
  
#back-to-top-btn:hover {
  background-color: #0a3d62;
  color: #fff;
}

/* Smaller Size Views */
@media (max-width: 1200px) {
  /* Global Styles */
  html {
    font-size: 54%;
  }
}

@media (max-width: 991px) {
  /* Global Styles */
  section {
    padding: 16px 4%;
    padding-top: 100px;
  }

  /* Header */
  header .logo {
    font-size: 27px;
    color: #3c6382;
  }
  
  header .navbar a {
    font-size: 19px;
    padding: 4px 10px;
    margin-left: 12px;
    border-radius: 10px;
    color: #0a3d62; 
  }
  
  #hamburger-menu {
    display: none;
  }

  /* FAQ Section */
  .accordion-button {
      font-size: 19px; 
  }
    
  .accordion-body {
      font-size: 16px;
  }

  /* Footer Section */
  footer{
    padding : 40px;
  }

  footer .container{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
  }
}

@media (max-width: 768px) {
  /* Header */
  header .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 22px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.3s; 
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    margin: 8px; 
    font-size: 16px;
  }

  header .navbar {
    padding: 18px;
  }

  #hamburger-menu {
    display: block; 
  }

  .fa-times {
    transform: rotate(180deg);
  }

  /* FAQ Section */
  .faq h1{
      font-size: 28px;
  }

  .accordion-button {
      font-size: 18px; 
  }

  .accordion-body {
      font-size: 14px; 
  }

  /* Footer */
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: (1,1fr);
    grid-gap: 40px;
  }
}
  
