/* Global Styles */
* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  transition: 0.34s;
  outline: none;
}

html {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
  font-size: 63%;
  overflow-x: hidden;
}

section {
  padding: 16px 9%;
  padding-top: 100px;
  min-height: 100vh;
}

#hamburger-menu {
  font-size: 25px;
  display: none;
  color: #3c6382;
  cursor: pointer;
}
  
/* Loading Section */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff; 
  top: 10%;
  z-index: 1; 
}

#loading-animation {
  width: 400px;
  height: 400px;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 21px; 
}

header .logo {
  font-size: 34px;
  color: #3c6382;
}

header .navbar a {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  margin-left: 12px;
  color: #0a3d62; 
}

header .navbar a:hover {
  background: #3c6382; 
  color: #fff;
}

header .navbar a.active,
header .navbar a:hover {
  background: #3c6382;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
  
/* Self Assessment Section */
.asst-container {
  width: 1100px;
  height: 600px;
  margin: 150px auto 0; /* Adjust top margin to create space below the header */
  padding: 20px;
  background: url(../images/background.jpg);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.asst-container h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 23px;
}

.asst-container p{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.asst-container img {
  width: 100px;
  height: 100px;
  display: block; 
  margin: 0 auto; 
}

#question {
  margin-bottom: 20px;
  padding-top: 80px;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
} 

#startButton {
  display: block;
  margin: 0 auto;
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 70px;
}

#startButton:hover{
  background-color: #004692;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
}
.btn:hover {
  background-color: #0056b3;
}

.btn-yes {
  margin-top:30px;
  background-color: green;
  color: white;
}

.btn-yes:hover{
  background-color: darkgreen;
}

.btn-no {
  margin-top:30px;
  background-color: red;
  color: white;
}

.btn-no:hover{
  background-color: darkred;
}
  
#loading-for-result {
  text-align: center;
  position: absolute; 
  top: 97%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
}

#loading-for-result dotlottie-player {
  width: 200px;
  height: 200px;
  margin: 0 auto; 
}

.result {
  margin-top: 30px;
  font-weight: bold;
}

/* Footer */
footer {
  background: url(../images/background.jpg);
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 80px;
  margin-top: 180px;
}

footer .container {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 70px;
  display: grid;
}

footer .container .ft h2 {
  position: relative;
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 13px;
  font-size: 24px;
}

footer .container .ft p {
  color: #0a3d62;
  font-size: 16px; 
}

footer .container .media-logo {
  margin-top: 30px;
  grid-template-columns: repeat(4, 70px);
  display: grid;
}

footer .container .media-logo li {
  list-style: none;
  display: inline-block;
  width: 36px;
  height: 36px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
}

footer .container .links {
  position: relative;
}

footer .container .links ul li {
  list-style: none;
}

footer .container .links ul li a {
  color: #0a3d62;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px; 
}

footer .container .contact .contact-info {
  position: relative;
}

footer .container .contact .contact-info li {
  display: grid;
  grid-template-columns: 27px 1fr;
  margin-bottom: 16px;
}

footer .container .contact .contact-info li span {
  font-size: 19px;
}

/* Button Styles (auto scroll back to the top button) */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  color: #0a3d62;
  border: 2px solid #0a3d62;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
  
#back-to-top-btn:hover {
  background-color: #0a3d62;
  color: #fff;
}

/* Smaller Size Views */
@media (max-width: 1200px) {
  /* Global Styles */
  html {
    font-size: 54%;
  }
}

@media (max-width: 991px) {
  /* Global Styles */
  section {
    padding: 16px 4%;
    padding-top: 100px;
  }

  /* Header */
  header .logo {
    font-size: 27px;
    color: #3c6382;
  }
  
  header .navbar a {
    font-size: 19px;
    padding: 4px 9px;
    margin-left: 12px;
    border-radius: 10px;
    color: #0a3d62; 
  }
  
  #hamburger-menu {
    display: none;
  }

  /* Self Assessment Section */
  .asst-container {
    width: 96%;
    max-width: 800px;
    margin: 150px auto 0;
    padding: 20px;
    background: url(images/background-img.jpg);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .asst-container h1 {
    font-size: 24px;
    padding-top: 20px;
  }

  .asst-container p {
    font-size: 16px;
    margin-top: 20px;
  }

  .asst-container img {
    width: 80px;
    height: 80px;
  }

  #question {
    padding-top: 50px;
    font-size: 24px;
  }

  #startButton {
    margin-top: 30px;
    font-size: 16px;
    padding: 8px 16px;
  } 

  .btn {
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 20px;
  }

  .btn-yes,
  .btn-no {
    margin-top: 20px;
  }

  #loading {
    margin-top: 20px;
  } 

  .result {
    margin-top: 20px;
  }
  
  /* Footer Section */
  footer{
    padding : 40px;
  }

  footer .container{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
  }
}

@media (max-width: 768px) {
  /* Header */
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 22px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.3s; 
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    margin: 8px; 
    font-size: 16px;
  }

  header .navbar {
    padding: 18px;
  }

  #hamburger-menu {
    display: block; 
  }

  .fa-times {
    transform: rotate(180deg);
  }

  /* Self Assessment Section */
  .asst-container{
    width: 639px;
  }

  /* Footer */
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 40px;
  }
}