/* Global Styles */
*::selection {
  background-color: var(--color-primary);
  color: #fff;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

h5, h6, p, li {
  font-family: 'Lato', sans-serif;
}

section {
  min-height: 100vh;
  padding: 16px 9%;
  padding-top: 100px;
}

#hamburger-menu {
  font-size: 25px;
  color: #5d88ab;
  cursor: pointer;
  display: none;
}

.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  /* prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}

/* Loading Section */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff; 
  top: 11%;
  z-index: 1; 
}

#loading-animation {
  width: 400px;
  height: 400px;
}

/* Header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: fixed; 
  top: 0; 
  padding: 21px;
}

header .logo {
  font-size: 34px;
  color: #5d88ab;
}

header .navbar a {
  font-size: 20px;
  padding: 8px 20px;
  margin-left: 12px;
  border-radius: 10px;
  color: #486985; 
}

header .navbar a:hover {
  background: #5d88ab; 
  color: #fff;
}

header .navbar a.active,
header .navbar a:hover {
  background: #5d88ab;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* main */
main{
  padding-top: 150px;
}

/* h1 text */
main h1{
  font-size: 45px;
  text-align: center;
  color: #5d88ab;
}

main a {
  text-decoration: none;
  color: #111;
}

main .source{
  text-align: center;
  padding-bottom: 100px;
}

/* ordered list */
ol {
  list-style-type: none;
  width: 50vw;
  margin: 5em auto 1em;
}

/* for each news article */
.card {
  width: 100%;
  display: grid;
  grid-template-areas: 'date content content image';
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5em 0;
  border-bottom: 1px solid #ccc;
}

/* date styling for the date when the news was posted */
.date {
  grid-area: date;
  color: #666;
  font-size: 0.8em;
}
/* content styling for the news article */
.content {
  grid-area: content;
}
/* image styling for the news article */
img {
  grid-area: image;
  margin-left: 3em;
  border-radius: 0.3em;
}
/* title styling */
.super {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
}
/* headline styling for the news article */
.headline {
  margin-bottom: 0.5em;
  color: #222;
}
/*styling for the news article's author,words adn read time */
.sub {
  font-size: 0.8em;
  color: #666;
  margin-top: 2em;
}


/* Button Styles (auto scroll back to the top button) */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  color: #486985;
  border: 2px solid #486985;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
  
  #back-to-top-btn:hover {
  background-color: #486985;
  color: #fff;
}


/* Footer */
footer {
  background: url(../images/background.jpg);
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 80px;
}

footer .container {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 70px;
  display: grid;
}

footer .container .ft h2 {
  position: relative;
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 13px;
  font-size: 24px;
}

footer .container .ft p {
  color: #486985;
  font-size: 16px; 
}

footer .container .media-logo {
  margin-top: 30px;
  grid-template-columns: repeat(4, 70px);
  display: grid;
}

footer .container .media-logo li {
  list-style: none;
  display: inline-block;
  width: 36px;
  height: 36px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
}

footer .container .links {
  position: relative;
}

footer .container .links ul li {
  list-style: none;
}

footer .container .links ul li a {
  color: #486985;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px; 
}

footer .container .contact .contact-info {
  position: relative;
}

footer .container .contact .contact-info li {
  display: grid;
  grid-template-columns: 27px 1fr;
  margin-bottom: 16px;
}

footer .container .contact .contact-info li span {
  font-size: 19px;
}

/* media queries */
@media (max-width: 1200px) {
  /* Global Styles */
  html {
    font-size: 100%;
  }

  /* main */
  ol {
    width: 80vw;
  }
}

@media (max-width: 991px) {
  /* Global Styles */
  section {
    padding: 16px 4%;
    padding-top: 100px;
  }

  /* Header */
  header .logo {
    font-size: 27px;
    color: #5d88ab;
  }
  
  header .navbar a {
    font-size: 19px;
    padding: 4px 9px;
    margin-left: 12px;
    border-radius: 10px;
    color: #486985; 
  }
  
  #hamburger-menu {
    display: none;
  }

  /* main */
  html{
    font-size: 84%;
  }
  img{
    max-width: 100%;
    height: auto;
    margin-left: 2em;
  }

  ol {
    width: 90vw;
  }

  /* Footer */
  footer{
    padding : 40px;
  }
  footer .container{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
  }
}

@media (max-width: 768px) {
  /* Header */
  header .navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 22px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.3s; 
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    margin: 8px; 
    font-size: 16px;
  }

  header .navbar {
    padding: 18px;
  }

  #hamburger-menu {
    display: block; 
  }

  .fa-times {
    transform: rotate(180deg);
  }

  main h1{
    font-size: 31px;
  }

  /* body*/
  .card {
    grid-template-areas:
      'date date image'
      'content content image';
    grid-template-columns: repeat(3, 1fr);
  }
  img{
    max-width: 100%;
    height: auto;
    margin-left: 2em;
  }

  /* Footer */
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: (1,1fr);
    grid-gap: 40px;
  }
}